body{
    font-size: 20px; 
    background-color: rgb(214, 247, 238);
    
}
form{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.num{
    width: 100px;
    height: 25px;
}
#generar{
    font-size: 20px;
    width: 105px;
    height: 30px;
    background-color:  rgb(255, 239, 220);
    margin-top: 10px;

}
#pantalla{
    width: 100px;
    height: 25;
    text-align: center;
    
}